{% trans_default_domain 'FOSUserBundle' %}
{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'AppBundle::standard_layout.html.twig' %}

{% block sonata_nav %}
{% endblock sonata_nav %}

{% block logo %}
{% endblock logo %}

{% block sonata_left_side %}
{% endblock sonata_left_side %}

{% block body_attributes %}class="sonata-bc login-page"{% endblock %}

{% block sonata_wrapper %}
    <div class="col-xs-12 login-form">
        <div class="login-box">
            <div class="login-logo">
                <a href="{{ path('sonata_admin_dashboard') }}">
                    {% if 'single_image' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                        <img width="10%" src="{{ asset(sonata_admin.adminPool.titlelogo) }}" alt="{{ sonata_admin.adminPool.title }}" >
                        <span>{{ sonata_admin.adminPool.title }}</span>
                    {% endif %}
                </a>
            </div>
            <div class="login-box-body">
                {% block sonata_user_login_form %}
                    {{ form_start(form, {
                                        'method': 'post', 
                                        'action': path('fos_user_registration_register'), 
                                        'attr': {
                                                'class': 'fos_user_registration_register',
                                                'novalidate': true
                                                }
                                        }) }}
                    {% include 'AppBundle:Default:errores_campos.html.twig' with { errors : form.vars.errors }%}
                    <div class="row">
                        <div class="col-xs-12">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email,{ attr: {class: 'form-control' } }) }}
                            {% include 'AppBundle:Default:errores_campos.html.twig' with { errors : form.email.vars.errors }%}
                        </div>
                        <div class="col-xs-12">
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username,{ attr: {class: 'form-control' } }) }}
                            {% include 'AppBundle:Default:errores_campos.html.twig' with { errors : form.username.vars.errors }%}
                        </div>
                        <div class="col-xs-12">
                            {{ form_label(form.firstname) }}
                            {{ form_widget(form.firstname,{ attr: {class: 'form-control' } }) }}
                            {% include 'AppBundle:Default:errores_campos.html.twig' with { errors : form.firstname.vars.errors }%}
                        </div>
                        <div class="col-xs-12">
                            {{ form_label(form.pais) }}
                            {{ form_widget(form.pais,{ attr: {class: 'form-control' } }) }}
                            {% include 'AppBundle:Default:errores_campos.html.twig' with { errors : form.pais.vars.errors }%}
                        </div>
                        <div class="col-xs-12">
                            {{ form_label(form.plainPassword.first) }}
                            {{ form_widget(form.plainPassword.first,{ attr: {class: 'form-control' } }) }}
                            {% include 'AppBundle:Default:errores_campos.html.twig' with { errors : form.plainPassword.first.vars.errors }%}
                        </div>
                        <div class="col-xs-12">
                            {{ form_label(form.plainPassword.second) }}
                            {{ form_widget(form.plainPassword.second,{ attr: {class: 'form-control' } }) }}
                            {% include 'AppBundle:Default:errores_campos.html.twig' with { errors : form.plainPassword.second.vars.errors }%}
                        </div>
                        <div class="col-xs-12" style="margin-top: 10px;">
                            <div class="col-xs-6">
                                <a href='{{path('sonata_admin_dashboard')}}' class="btn btn-warning btn-block btn-flat">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a type="submit" class="btn btn-primary btn-block btn-flat">
                                    {{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock sonata_wrapper %}

